@model IEnumerable<recognator_web.License>

@{
    ViewBag.Title = "Список";
}

<h2>Список заявок</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (HttpContext.Current.User.Identity.Name == "admin@admin.com" || HttpContext.Current.User.Identity.Name == item.Username)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>            
            @Html.ActionLink("Редактировать", "Edit", new { id=item.LicenseId }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.LicenseId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.LicenseId })
        </td>
    </tr>
    }
}

</table>
